<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><include(input.title)/></title>
  <link type="text/css" rel="stylesheet" href="//ir.ebaystatic.com/cr/v/c1/skin/v5.0.0/ds6/skin.min.css">
</head>

<body>
  <header>
    <img.logo src="./logo.png" alt="marko logo"/>
    <h1><include(input.title)/></h1>
    <nav.menu>
      <a href="/">Home</a>
      <a href="https://markojs.com/docs/getting-started/">Marko Doc</a>
    </nav>
  </header>
  <div.content>
    <include(input.content)/>
  </div>
</body>

</html>
