<site-layout>
  <@title>
    Dialog
  </@title>

  <@content>
    <section>
      <h2>Closing dialog with no bug</h2>

      <p>
      Unlike the <a href="/bug-dialog-close">other dialog</a>, this component does NOT have any bug.
      This component also does not use <a href="/ui-textual-display">ui-textual-display</a> inside its dialog content.
      </p>

      <click-for-dialog-no-textual-display ${input.params.model} />
    </section>
  </@content>
</site-layout>
